nextflow.enable.dsl=2

docker.enabled = false

params {
    outdir = 'resources/2-nextflow-results'  // carpeta de salida por defecto
    ruta_proyecto = '/Users/adrian/Documents/4 Workspace/Prototipo-resultados/03-EXT-25-Metagenomic'  // ruta del proyecto
    tipo_analisis = 1  // nombre del experimento
}
